#about {
  display: flex; }

.vertical-box {
  display: flex;
  -webkit-animation: fadeIn 3s ease-in;
  z-index: -1;
  background: url("../images/wtc.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%);
  width: 50.8%;
  height: 100%;
  border-right: white solid 1px;
  position: absolute; }

.malik {
  z-index: 999;
  align-self: center;
  height: 35vh;
  width: 20vw;
  border-radius: 50%;
  margin-bottom: 50vh;
  margin-left: 20vw; }

.text {
  justify-content: flex-start; }

.front-end {
  margin-left: 50vw;
  margin-top: 35vh; }

.front-end img {
  justify-content: center;
  margin: 0 auto;
  width: 4vw; }

.back-end {
  margin-left: 50vw; }

.back-end img {
  width: 8vh; }

.aboutme {
  font-family: 'CoreCircus', sans-serif;
  color: white; }
