@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

#mywork {
  position: relative; }

.bwcol {
  flex: 1;
  -webkit-animation: fadeIn 2s ease-in;
  z-index: -1;
  background: url("../images/wtc.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%);
  width: 67vw;
  height: 100%;
  border-left: white solid 1px;
  position: absolute;
  right: 0px;
  top: 0px; }

.colorcol {
  flex: 1;
  position: absolute;
  width: 33vw;
  height: 100%;
  left: 0px; }

.colorcol a {
  display: inline-flex;
  margin-left: 13vw;
  margin-top: 3vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: normal 3.5vh/normal 'Federo', sans-serif;
  color: white;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px white, 0 0 80px white, 0 0 100px white;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }

.onthefly {
  -webkit-animation: fadeInLeft 3s ease-in;
  height: 20vh;
  width: 20vw;
  margin-left: 6vw;
  margin-top: 10vh;
  text-align: center; }

.ontheflytitle {
  -webkit-animation: fadeInLeft 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 6vh;
  position: absolute;
  margin-left: 4vw;
  margin-top: 11vh;
  font-family: 'CoreCircus', sans-serif;
  color: white; }

.ontheflytech {
  -webkit-animation: fadeTop 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2vh;
  position: absolute;
  margin-left: 4vw;
  margin-top: 20vh;
  font-family: 'CoreCircus', sans-serif;
  color: white; }

.ontheflybody {
  -webkit-animation: fadeInLeft 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2.5vh;
  position: absolute;
  margin-top: 24vh;
  margin-left: 4vw;
  width: 33vw;
  font-family: 'Federo', sans-serif;
  color: white; }

.ontheflybody2 {
  -webkit-animation: fadeInRight 3s ease-in;
  width: 33vw;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2.5vh;
  position: absolute;
  margin-top: 24vh;
  margin-left: 40vw;
  width: 20vw;
  font-family: 'Federo', sans-serif;
  color: white;
  list-style: none; }

.teacherspet {
  -webkit-animation: fadeInLeft 3s ease-in;
  height: 20vh;
  width: 20vw;
  margin-left: 6vw;
  margin-top: 12vh;
  text-align: center; }

.teacherspettitle {
  -webkit-animation: fadeInLeft 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 6vh;
  position: absolute;
  margin-left: 4vw;
  margin-top: 48vh;
  font-family: 'CoreCircus', sans-serif;
  color: white; }

.teacherspettech {
  -webkit-animation: fadeInTop 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2vh;
  position: absolute;
  margin-left: 4vw;
  margin-top: 57vh;
  font-family: 'CoreCircus', sans-serif;
  color: white; }

.teacherspetbody {
  -webkit-animation: fadeInLeft 3s ease-in;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2.5vh;
  position: absolute;
  margin-top: 61vh;
  margin-left: 4vw;
  width: 33vw;
  font-family: 'Federo', sans-serif;
  color: white; }

.teacherspetbody2 {
  -webkit-animation: fadeInRight 3s ease-in;
  width: 33vw;
  background-color: rgba(10, 9, 9, 0.9);
  font-size: 2.5vh;
  position: absolute;
  margin-top: 61vh;
  margin-left: 40vw;
  width: 20vw;
  font-family: 'Federo', sans-serif;
  color: white;
  list-style: none; }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .bwcol {
    flex: 1;
    -webkit-animation: fadeIn 2s ease-in;
    z-index: -1;
    background: url("../images/wtc.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%);
    width: 67vw;
    height: 100%;
    border-left: white solid 1px;
    position: absolute;
    right: 0px;
    top: 0px; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .colorcol {
    flex: 1;
    position: absolute;
    width: 33vw;
    height: 100%;
    left: 0px; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .colorcol a {
    display: inline-flex;
    margin-left: 7vw;
    margin-top: 3vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal 2.5vh/normal "Warnes", Helvetica, sans-serif;
    color: white;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px white, 0 0 80px white, 0 0 100px white;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .onthefly {
    -webkit-animation: fadeInLeft 3s ease-in;
    height: 15vh;
    width: 25vw;
    margin-left: 4vw;
    margin-top: 6vh;
    text-align: center; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .ontheflytitle {
    -webkit-animation: fadeInLeft 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 3vh;
    position: absolute;
    margin-left: 4vw;
    margin-top: 5vh;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .ontheflytech {
    -webkit-animation: fadeTop 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-left: 4vw;
    margin-top: 14vh;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .ontheflybody {
    -webkit-animation: fadeInLeft 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-top: 16vh;
    margin-left: 4vw;
    width: 60vw;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .ontheflybody2 {
    -webkit-animation: fadeInRight 3s ease-in;
    list-style: none;
    width: 33vw;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-top: 24vh;
    margin-left: 4vw;
    padding-left: 0px;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .teacherspet {
    -webkit-animation: fadeInLeft 3s ease-in;
    height: 15vh;
    width: 25vw;
    margin-left: 4vw;
    margin-top: 6vh;
    text-align: center; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .teacherspettitle {
    -webkit-animation: fadeInLeft 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 3vh;
    position: absolute;
    margin-left: 4vw;
    margin-top: 31vh;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .teacherspettech {
    -webkit-animation: fadeInTop 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-left: 4vw;
    margin-top: 40vh;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .teacherspetbody {
    -webkit-animation: fadeInLeft 3s ease-in;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-top: 42vh;
    margin-left: 4vw;
    width: 60vw;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }

@media screen and (max-width: 699px) and (min-width: 375px) {
  .teacherspetbody2 {
    -webkit-animation: fadeInRight 3s ease-in;
    list-style: none;
    width: 30vw;
    background-color: rgba(10, 9, 9, 0.59);
    font-size: 1vh;
    position: absolute;
    margin-top: 58vh;
    margin-left: 4vw;
    padding-left: 0px;
    font-family: 'CoreCircus', sans-serif;
    color: white; } }
