@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}
.navbar {
  background-color: #ce722c;
  -webkit-animation: fadeIn 3s;
  opacity: .7;
  border-radius: 50px;
  z-index: 1;

}

.navbar-default{
  width: 29%;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  top: 50px;

}


.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-nav li a:hover {
  color: #447086;
}

.navbar-nav li .dropdown-menu{
  background-color: inherit;
}
